

.Body-class
{
    font-size: 65.5%;
    background: radial-gradient(circle,#fff,#bbb);


}

.Encabezado
{
    font: normal 2.0em verdana,geneva,sans-serif;
    background:  -webkit-linear-gradient(top, #00F,#0cf);
    background: -ms-linear-gradient(top, #00F,#0cf);
    width: 35%;
    border-radius: 30px;
    margin: 15px auto;
    text-align-last: center;
    padding: 15px;
    color: white;
    box-shadow: #00f 5px 5px 10px;
    text-shadow: white 2px 2px 3px;

}

.Barra-Nav
{
    background-color: red;
    margin: 15px auto  ;
    width: 91%;

}
.Menu
{
    background-color: blue;
    display: inline;
    text-align: center;
    font: normal 2.0em verdana,geneva,sans-serif;
    margin: 80px ;
    
}

.Seccion
{
    width: 91%;
    margin: 15px auto;
    background-color: blue;
   

}
.figuras 
{
     
    float: left ;
    padding: 1px;
    margin-left:0px ;
    margin-right: 51px;
}
.figuras img 
{
    padding: 4px;
    background: #999;
    border-radius: 20px;
    transition: transform 0.3s ease-in-out 0.1s ;/*funciona en los dos lados*/
    margin-right: 5px;

}
.figuras img:hover {
    
    transform: scale(1.6);
    transition: transform 0.3s ease-in-out 0.1s ;/*funciona en los dos lados*/

}
.figuras figcaption
{
    font-family: Arial,helvetica,sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;

}
.Pie-de-pagina
{
    clear: both;
    padding-top: 10px;
    background-color: blue;
   

}
.Pie-de-pagina p
{
    
    font: 1.2em georgia;
    color: #666;
    margin: 10px 8px;


}